<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav></nav>
    <div class="head">

        <div class="logo">

            <a href="#">logo</a>
            
        </div>
        
        <nav class="navbar">

            <a href="#">home</a>
            <a href="#">tendencia</a>
            <a href="#">perfil</a>
            <a href="#">crear</a>
            <a href="#">contacto</a>+
            

        </nav>

    </div>
    <header class="content header">

        <h2 class="title">home</h2>
        <p>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat repellat alias iure
         provident veritatis in blanditiis autem, facilis consequatur officiis numquam eligendi animi a modi excepturi aperiam. Odit, id?
        </p>
        <div class="box-container">
            <div class="box">
                <i class="fab fa-angular"></i>
                <h2>tendencia</h2>
                <p>van estar las publicasiones mas votadas</p>

            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsum vel, eius cum, adipisci doloribus quidem eveniet magni 
                    quibusdam, laudantium quam atque possimus. Doloremque repudiandae fuga labore deserunt officiis explicabo.</h3>
                <p>lobere molestias</p>

            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsum vel, eius cum, adipisci doloribus quidem eveniet magni 
                    quibusdam, laudantium quam atque possimus. Doloremque repudiandae fuga labore deserunt officiis explicabo.</h3>
                <p>lobere molestias</p>

            </div>

        </div>

        <div>

            <h2>Iniciar Sesión</h2>
            <form action="procesar_login.php" method="post">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" required>
        
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
        
                <input type="submit" value="Iniciar Sesión">
            </form>


        </div>

    </header>
</body>
</html>